
@media screen and (max-width: 992px) {
  .nav-toggle {
    display: block;
  }

  .rightcontent {
    display: none;
  }

  .example-section2 {
    gap: 15px;
  }

  .box2 {
    /* width: 50%; */
    width: 48%;
    height: 180px;
  }

  .cta-mainsection{
    padding-block: 80px;
  }
}
