@media screen and (max-width: 992px) {
  /* nav bar*/

 
  .nav-toggle {
    display: block;
}

.maincontent {
    overflow: initial;
}

.rightcontent {
    position: absolute;
    /* background-color:var(--primary-bg-color); */
    background-color: var(--nav-color);
    left: -100%;
    top: 100%;
    width: 100%;
    padding-block: 20px;
    transition: left 0.3s ease-in-out;
}

.rightcontent.active {
    left: 0;
}

.rightcontent ul {
    flex-direction: column;
    align-items: center;
}

:root {
  --nav-color :rgb(22, 16, 16);
}

.lighttheme {
  --nav-color:rgb(230, 224, 224);
}

  /*example section*/

  .example-section2 {
    gap: 20px;
  }

  .box2 {
    width: calc(50% - 10px); /* Added spaces around the minus sign */
    height: 180px;
  }

  /* cta section*/

  .cta-mainsection {
    padding-block: 70px;
  }
}

/* after changing the width*/

@media screen and (max-width: 767px) {
  .signupbtn {
    width: 100%;
  }
  .header-main {
    flex-direction: column-reverse;
  }

  .header-side1 {
    max-width: 100vw;
    text-align: center;
  }

  /*feature*/
  .box-img {
    min-width: calc(50% - 10px);
  }

  /*image-section*/

  .image-section-main,
  #second-img-section {
    flex-direction: column;
  }

  /*footer*/
  .footer-section {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
  }

  .section1 {
    align-items: stretch;
  }
}

/* after changing the width*/

@media screen and (max-width: 479px) {
  /*example section*/
  .example-section {
    padding: 20px;
  }

  /*font-size*/

  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 0.6rem;
  }

  .small-text-bold {
    font-size: 1.5rem;
  }

  /*topbar*/
  .image-add {
    font-size: 0.8rem;
  }

  /*feature*/
  .box-img {
    min-width: 100%;
  }

  .box2 {
    width: 100%;
  }

  /*footer*/

  .footer-section,
  .footer-section2 {
    padding: 20px;
  }
}
